#about-us-header {
  text-align: center;
}

body {
  background-color: #FDDA0D;
}

#about-us>h2 {
  text-align: center;
}

#bottom-half {
  display: flex;
  justify-content: space-around;
}

#thumbnail {
  margin-bottom: 2rem;
}

#bottom-container {
  width: 15rem;
  size: auto;
}