#about-us-header {
  text-align: center;
}

body {
  background-color: #FDDA0D;
}

#about-us>h2 {
  text-align: center;
}

/* #about-us {
  height: calc(100vh - 70px);
} */

#bottom-half {
  display: flex;
  justify-content: space-around;
}

#thumbnail {
  margin-bottom: 2rem;
}

#bottom-container {
  width: 15rem;
  size: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: 100%;
  background-color: #fff; /* Adjust background color as needed */
  z-index: 1000; /* Adjust z-index as needed */
  padding-left: 0;
  padding-right: 0;
}
